body{
    margin: 0%;
}
/* Header styling */
header {
    background-color: #92818b;
    color: white;
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;

}

.logo{
    display: flex;
    padding-left: 50px;
  }

  .links ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 100px 0px 0px;  
    display: flex;
    flex-direction: row;
  }
  
  .links li {
    margin-left: 20px;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  .links a:hover{
    color: #EBDCCB;
  }
  /* Section 1 styling */

  .section1 {
    background-color: #92818b;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 100px 0px;
  }

  .keyboard {
    padding: 0px 0px 0px 70px;
  }
  .title1 {
    font-size: 48px;
    margin: 0;
  }
  
  .txt1 {
    font-size: 18px;
  }
  
  .btn1 {
    background-color: white;
    border: none;
    color: #92818b;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 8px;
  }
  
  .btn1:hover {
    background-color: #EBDCCB;
  }
  
  /* Section 2 styling */
  .section2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
  
  .image-wrapper img {
    max-width: 100%;
    height: auto;
  }
  
  /* Section 3 styling */
  .section3 {
    background-color: #C6BCC8;
    padding: 20px;
  }
  
  .quote {
    margin: 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  
  /* Section 4 styling */
  .section4 {
    background-color: #EBDCCB;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h4 {
    font-size: 24px;
    margin: 0;
  }
  
  .btn2 {
    background-color: #92818b;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn2:hover {
    background-color: #C6BCC8;
  }
  
  /* Footer styling */
  .cr {
    background-color: #92818b;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .cr p {
    margin: 0;
  }
  
.section4 p {
    padding-bottom: 10px;
}